#services .service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

#services .service-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 25px;
  height: 100%;
  text-align: center;
  cursor: auto;
  color: var(--text-color);
  background: var(--ui-color-2);
  border-radius: var(--border-radius-large);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

#services .service-card::before,
#services .service-card::after {
  content: "";
  position: absolute;
}

#services .service-card::before {
  width: 200%;
  height: 200%;
  background-image: conic-gradient(
    rgba(255, 255, 255, 0.1) 0deg,
    var(--primary-color) 60deg,
    transparent 180deg,
    var(--primary-color) 240deg,
    rgba(255, 255, 255, 0.1) 300deg
  );
  inset: -50%;
  z-index: -2;
  animation: spin 9s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease;
}

@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}

#services .service-card:hover::before {
  opacity: 1;
}

#services .service-card::after {
  background: var(--ui-color-2);
  inset: 0.25rem;
  border-radius: calc(1.2rem - 0.25rem);
  z-index: -1;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

#services .service-card:hover::after {
  background-color: var(--ui-color-2);
}

#services .service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#services .service-card:not(:hover)::before,
#services .service-card:not(:hover)::after {
  opacity: 0;
  transition: opacity 0s ease;
}

#services .service-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#services .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  cursor: auto;
}

#services .service-card .icon {
  font-size: 40px;
  color: var(--primary-color);
}

#services .service-card .service-content {
  padding: 0 20px;
}

#services .service-card .title {
  font-size: 26px;
  background: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--white-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#services .service-card .description {
  font-size: 16px;
  line-height: 25px;
  flex-grow: 1;
  transition: color 0.3s ease;
}

#services .service-card:hover .description {
  color: var(--text-color);
}

#services .service-footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#services .service-card .btn.btn--primary {
  background: linear-gradient(
    260deg,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );
  background-size: 200% auto;
  transition: background-position 0.3s ease;
}

#services .service-card .btn.btn--primary:hover {
  background-position: right center !important;
}

/* RESPONSIVENESS */
@media (max-width: 1024px) {
  #services .service-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  #services .service-card {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  #services .service-list {
    gap: 1rem;
  }

  #services .service-card {
    width: 100%;
    padding: 2rem 1rem;
  }
}
