#contact .contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 80px 20px;
}

#contact .section__header {
  width: 100%;
  text-align: center;
}

#contact .contact__group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

#contact .contact__options {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 500px;
}

#contact .contact__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(var(--card-color-rgb), 0.2);
  border: solid 1px rgba(var(--card-border-color-rgb), 0.25);
  padding: 20px;
  border-radius: var(--border-radius-medium);
  transition: background 200ms, border 200ms;
  text-align: left;
  flex: 1;
  gap: 20px;
}

#contact .contact__option:hover {
  background: rgba(var(--primary-color), 0.1);
  border-color: var(--primary-color);
}

#contact .contact__icon {
  font-size: 30px;
  color: var(--primary-color);
}

.contact__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

#contact .contact__option .btn {
  flex-shrink: 0;
  padding: 10px 15px;
  border-radius: var(--border-radius-small);
  font-size: 14px;
  background: var(--gradient-4);
  color: var(--white-color);
  transition: background 300ms;
  width: 150px;
  display: block;
  text-align: center;
}

.btn:hover {
  background-position: center right;
}

#contact form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 500px;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  border-radius: var(--border-radius-medium);
  background: rgba(var(--card-color-rgb), 0.15);
  border: solid 1px rgba(var(--card-border-color-rgb), 0.25);
  color: var(--white-color);
  transition: border-color 200ms;
}

input:focus,
textarea:focus {
  border-color: var(--primary-color);
}

@media (max-width: 768px) {
  #contact .contact__group {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  #contact .contact__container {
    padding: 40px 10px;
  }

  #contact .contact__options,
  #contact form {
    max-width: 100%;
  }

  #contact .contact__option {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  #contact .contact__icon {
    font-size: 25px;
  }

  #contact .contact__option .btn {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  #contact .contact__container {
    padding: 20px 5px;
  }

  #contact .contact__option {
    padding: 15px;
  }

  input,
  textarea {
    padding: 10px;
  }
}
