.header {
  position: relative;
  overflow: hidden;
}

.header--blur-effect::before {
  top: 0;
  right: 0;
  margin-top: -5%;
  margin-right: -5%;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header__intro-text {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  font-size: 200px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  z-index: 0;
}

.header__intro-text--stroke {
  -webkit-text-stroke: 0.5px rgba(212, 212, 214, 0.175);
  -webkit-text-fill-color: transparent;
}

.header__column {
  position: relative;
  z-index: 1;
}

.header__intro-column {
  width: 450px;
  max-width: 100%;
}

.header__column--blur-effect::before {
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  margin-left: -5%;
  margin-bottom: -5%;
}

.header__profile-column {
  flex: 2;
}

.header__info-top {
  font-size: 15px;
  font-weight: 500;
}

.header__info-name {
  color: var(--primary-color);
}

.header__title {
  font-size: 62px;
  font-weight: 900;
}

.header__description {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.header__info-bottom {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__profile-photo-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: auto;
  overflow: hidden;
}

.header__profile-photo-container::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(transparent, var(--ui-color-1));
}

/* --- RESPONSIVENESS --- */
@media (min-width: 1100px) {
  .header__title {
    font-size: 32px;
  }
}

@media (max-width: 1000px) {
  .header {
    min-height: auto;
  }

  .header--blur-effect::before {
    display: none;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .header__intro-text {
    font-size: 100px;
  }

  .header__intro-column {
    width: 100%;
    max-width: 400px;
  }

  .header__profile-photo-container {
    width: 90%;
    max-width: 500px;
  }

  .header__title,
  .header__info-top,
  .header__description {
    text-align: center;
  }

  .header__info-bottom {
    justify-content: center;
    gap: 20px;
  }

  .header__info-bottom .btn {
    width: 100%;
    padding: 12px;
  }
}
