#footer .footer__link__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
#footer .footer__tab {
    transition: var(--transition);
  }
  
  #footer .footer__tab:hover {
    color: var(--primary-color-shade-2);
  }
  
#footer .footer__link {
  transition: var(--transition);
}

#footer .footer__link:hover {
  color: var(--secondary-color);
}

#footer .social__handles__container a {
  color: var(--fourth-color-shade-1);
  transition: var(--transition);
}

#footer .social__handles__container a:hover {
  color: var(--third-color);
}

#footer .social__handles__container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#footer .social__handles__container .social__handle {
  width: 3rem;
  font-size: 1.5rem;
}

#footer .copyright__container {
  width: 100%;
  text-align: center;
}

#footer .copyright__container h3 {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--off-white-color);
}

@media (max-width: 768px) {
  #footer .footer__link__container {
    flex-direction: column;
  }
}
