#testimonial {
  background: var(--ui-color-2);
  padding: 2rem 0;
}

#testimonial .testimonial__container {
  display: grid;
  grid-template-columns: 400px auto;
  gap: 40px;
  align-items: center;
  padding: 0 2rem;
}

#testimonial .testimonial__content {
  text-align: left;
  max-width: 400px;
}

#testimonial .primary-title {
  margin-bottom: 1rem;
}

#testimonial .testimonial__slider {
  width: 100%;
}

#testimonial .testimonial__container .swiper {
  width: 100%;
  padding-bottom: 4rem !important;
}

#testimonial .avatar {
  width: 6rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin: 0 auto 1.5rem;
  border: 3px solid var(--primary-color-shade-1);
}

#testimonial .testimonial {
  background: var(--ui-color-2);
  text-align: center;
  padding: 30px;
  border-radius: var(--border-radius-xlarge);
  user-select: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#testimonial .testimonial:hover {
  transform: translateY(-10px);
}

#testimonial .message {
  color: var(--text-color);
  font-weight: 300;
  font-size: 16px;
  display: block;
  width: 80%;
  margin: 1rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--primary-color);
  width: 12px;
  height: 12px;
  margin: 0 6px;
  opacity: 0.8;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.swiper-pagination-clickable .swiper-pagination-bullet:hover,
.swiper-pagination-clickable .swiper-pagination-bullet-active {
  background-color: var(--primary-color-shade-1);
  transform: scale(1.2);
  opacity: 1;
}
#testimonial .name a,
#testimonial .avatar a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

#testimonial .name a:hover,
#testimonial .avatar a:hover {
  color: var(--primary-color);
}

/* --- RESPONSIVENESS --- */
@media (max-width: 850px) {
  #testimonial .testimonial__container {
    grid-template-columns: 100%;
  }

  #testimonial .testimonial__content {
    text-align: center;
    max-width: 100%;
  }

  #testimonial .testimonial__slider {
    width: 100%;
  }
}
