@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* COLORS */
  --primary-color: #8750f7;
  --secondary-color: rgba(28, 20, 5, 0.775);
  --text-color: #f8f7ff;
  --muted-color: #9fa5a5;
  --white-color: #fefcfb;
  --off-white-color: #f6f3fc;
  --success-color: #aaf683;
  --ui-color-1: #010101;
  --ui-color-2: #181919;

  /* BORDERS */
  --gray-border: solid 0.5px lightgray;
  --border-radius-small: 4px;
  --border-radius-medium: 0.8rem;
  --border-radius-large: 1.2rem;
  --border-radius-xlarge: 2rem;
  --border-radius-circle: 50px;

  /* OTHERS */
  --card-color-rgb: 180, 185, 188;
  --card-border-color-rgb: 131, 134, 135;
  --gradient-1: linear-gradient(
    260deg,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );
  --transition: all 400ms ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
  scrollbar-color: var(--primary-color) var(--secondary-color);
  scrollbar-width: thin;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--text-color);
  background: var(--ui-color-1);
  scroll-behavior: smooth;
}

/* SCROLLBAR */
::-webkit-scrollbar-thumb {
  border-radius: 1ex;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.primary-title {
  font-size: 56px;
  font-weight: 900;
  margin: 0;
  background: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--white-color) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-primary {
  color: var(--primary-color);
}

.text-muted {
  color: var(--muted-color);
}

.stroke-text {
  -webkit-text-stroke: 0.5px rgba(212, 212, 214, 0.175);
  -webkit-text-fill-color: transparent;
}

a {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 15px 25px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  background: var(--ui-color-2);
  text-align: center;
  border-radius: var(--border-radius-circle);
  cursor: pointer;
  border: none;
}

.btn--primary {
  background: var(--gradient-1);
  color: var(--white-color);
  background-size: 200% auto;
  transition: var(--transition);
}

.btn--primary:hover {
  background-position: right center;
}

/* SECTIONS */
.section__wrapper {
  max-width: 1190px;
  margin: auto;
  padding: 80px 20px;
}

.section__header {
  width: 100%;
  margin-bottom: 20px;
}

.section__header--center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.section__header--center .section__title,
.section__header--center .section__description {
  text-align: center;
}

.section__header--center .section__description {
  max-width: 900px;
}

/* ICONS */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  aspect-ratio: 1/1;
  color: var(--muted-color);
  background: none;
  border-radius: var(--border-radius-circle);
  cursor: pointer;
  transition: var(--transition);
}

.icon-container:hover {
  transform: scale(1.2);
  background: var(--ui-color-2);
  color: var(--white-color);
}

/* EFFECTS (BLUR) */
.blur-effect {
  position: relative;
}

.blur-effect::before {
  content: "";
  position: absolute;
  width: 322px;
  height: 308px;
  background: var(--primary-color);
  background: linear-gradient(
    190deg,
    var(--primary-color) 0%,
    rgba(115, 67, 210, 0) 100%
  );
  filter: blur(150px);
  z-index: -1;
}

/* RESPONSIVENESS */
@media (max-width: 1110px) {
  .primary-title {
    font-size: 32px;
  }
}

@media (max-width: 1100px) {
  .section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section__header .section__title,
  .section__header .section__description {
    text-align: center;
  }

  .section__header .section__description {
    margin: auto;
  }
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  /**vertical-align: auto;
  *zoom: 1;
  *display: inline; */
  position: relative;
  font-size: 60px;
  font-weight: 900;
}
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  /**vertical-align: auto;
  *zoom: 1;
  *display: inline; */
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  /**vertical-align: auto;
  *zoom: 1;
  *display: inline;*/
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme
  .odometer-digit
  .odometer-value.odometer-last-value,
.odometer.odometer-theme-default
  .odometer-digit
  .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating
  .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up.odometer-animating
  .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down
  .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating
  .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down.odometer-animating
  .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em;
}
.odometer.odometer-auto-theme .odometer-value,
.odometer.odometer-theme-default .odometer-value {
  text-align: center;
}

@media (max-width: 1100px) {
  .odometer.odometer-auto-theme,
  .odometer.odometer-theme-defaulf {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .odometer.odometer-auto-theme,
  .odometer.odometer-theme-defaulf {
    font-size: 20px;
  }
}
